<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
<script type="text/javascript" src="../jquery-easyui-1.5/jquery.min.js"
	charset="utf-8"></script>
<script type="text/javascript"
	src="../jquery-easyui-1.5/jquery.easyui.min.js" charset="utf-8"></script>
<script type="text/javascript"
	src="../jquery-easyui-1.5/plugins/jquery.validatebox.js"></script>
<script type="text/javascript"
	src="../jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
<link type="text/css" rel="stylesheet"
	href="../jquery-easyui-1.5/themes/default/easyui.css">
<link type="text/css" rel="stylesheet"
	href="../jquery-easyui-1.5/themes/icon.css">


<script type="text/javascript">

</script>

</head>
<body id="layout" class="easyui-layout">   
    <div data-options="region:'north',title:'North Title',split:true" style="height:100px;"></div>   
    <div data-options="region:'south',title:'South Title',split:true" style="height:100px;"></div>   
    <div data-options="region:'east',iconCls:'icon-reload',title:'East',split:true" style="width:100px;"></div>   
    <div data-options="region:'west',title:'West',split:true" style="width:250px;"  href="west.html">111</div>   
    
    
    <div id="center" iconCls="icon-save" href="center.html"  data-options="region:'center',title:''" style="overflow:hidden;   background:#eee;">
    
    href="index3.html"</div>   
</body>  

 

	

</body>
</html>